# Ignora diretórios de build do Maven
target/

# Permite o Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Ignora configurações específicas de IDE
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Permite build dirs dentro de src (se necessário, mas revise se é realmente necessário)
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/